<style>
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	body {
		margin: 0;
		color: #202020;
		font-family: monospace, 'Verdana', serif, sans-serif;
	}

	#video-warpper video {
		position: fixed;
		top: 50%; left: 50%;
		z-index: 1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: 0.4;
	}

	#logo {
		height: 400px;
	    margin: -20px 0;
		background: url('../img/vr_logo_2017_text.png');
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: right;
	}

	#logo-sub {

	    font-size: 2em;
	    text-align: center;
	}

	#banner {
		height: 125px;
		background: url('../img/flags_whitebg.png');
	}
	#headline {
		font-size: 2em;
		text-transform: uppercase;
		width: 270px;
		display: inline-block;
		line-height: 31px;
		color: #202020;
	}
	#page {
	    margin: 0 100px;
	    width: 600px;
	    float: right;
	}
	
	a {
		text-decoration: initial;
		color: initial;
	}

	#footer {
	    position: absolute;
	    bottom: 5px;
	    right: 5px;
	    color: gray;
	}

	.nav {
		display: inline-block;
		vertical-align: bottom;
		font-size: 18px;
	}

	.nav ul {
		display: flex;
		display: -ms-flex;
		display: -webkit-flex;
		list-style-type: none;
		padding: 0;
	}
	.nav li {
		padding: 0 10px;
	}
	.nav a:hover {
		text-decoration: underline;
	}

	.content {
	    margin-top: 100px;
	}

	.social-media {
		display: flex;
		margin: auto;
		width: 50%;
		justify-content: space-between;
		padding: 20px;
	}

	.sponsor-list a img {
		max-width: 200px;
		margin: 50px;
	}

</style>